@model Kyrsach.Models.InstructionViewModels.InstructionEditViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> Localize
@{
    ViewData["Title"] = Localize["Edit"];
}


<h2 class="text-center">Instruction</h2>
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form id="myform" class="my-form" asp-all-route-data='new Dictionary<string, string> { { "userId", "null" }, { "Id", "0" } }'>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AuthorId" />
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Input your instraction name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Category_Id" class="control-label">Category</label>
                <select asp-for="Category.Id" asp-items="ViewBag.Categories" class="form-control"></select>
                <span asp-validation-for="Category.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <textarea asp-for="Description" data-provide="markdown" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Image" class="control-label">Image</label>
                <input asp-for="Image" class="form-control" placeholder="Input image link here"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div>
                <hr />
                @Html.Partial("_StepsEdit", Model)
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ChangeStepsCount" />
                <input formmethod="post" type="submit" asp-action="Edit" id="add" value="Add step" class="btn btn-default" />
                @if (Model.Steps.Count != 0)
                {
                    <input formmethod="post" type="submit" asp-action="Edit" id="delete" value="Delete step" class="btn btn-default" />
                }
            </div>

            <div class="form-group">
                <input formmethod="post" asp-action="Edit" id="save" type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function AddStep() {
                $('#ChangeStepsCount').val(1);
            }

            function DeleteStep() {
                $('#ChangeStepsCount').val(-1);
            }

            function SetZero() {
                $('#ChangeStepsCount').val(0);
            }

            $('#add').mouseover(AddStep);
            $('#delete').mouseover(DeleteStep);
            $('#save').mouseover(SetZero);
        });
    </script>
}

